services:
  app:
    image: alankunjumon/bca-devops-project:latest
    ports:
      - "80:5000"
    environment:
      - DB_URL=postgresql://user:password@db/mydatabase
    depends_on:
      - db
      
  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
